---

/*IMPORTAMOS LOS ARCHIVOS Y LAS HOJAS DE ESTILOS DE TAILWINDS PARA QUE FUNCIONE*/
import Layout from '../layouts/Layout.astro';
import Card  from '../components/Card.astro';
import Hero  from '../components/Hero.astro';
import '../styles/global.css';

/*IMPORTAMOS LAS IMÁGENES*/
import imagen1 from '../assets/bienvenido-gaming-1024x576.webp';
import imagen2 from '../assets/gamer-playing-with-led-lights-1024x576.webp';
import imagen3 from '../assets/consola-moderna-1024x576.webp';
import imagen4 from '../assets/unete-a-nuestra-comunidad-1024x576.webp';
import fondo from '../assets/33477550306_345ee30b37_b.jpg';

---

<Layout title="Videojuegos">

	<!-- LLAMANDO AL ARCHIVO `HERO.ASTRO` QUE CONTIENE LA IMAGEN DE FONDO + EL H1 INTEGRADO-->
	<Hero 
		title='GamerZone: Tu hogar en el mundo de los videojuegos'
		image={fondo.src}
	/>

	<h2 class="text-3xl font-semibold text-white mt-10 text-center">Descubre más sobre GamerZone</h2>

	<!-- CARD DE TEXTO + IMÁGENES -->
	<div class="py-8 grid grid-cols-1 md:grid-cols-2 gap-6 container mx-auto ">
		<Card
			href=""
			title="¡Bienvenido al Futuro del Gaming!" 
			body="Sumérgete en un universo donde la diversión no tiene límites. Aquí, cada pixel cuenta una historia y cada juego es una nueva aventura esperando ser descubierta."
			image={imagen1.src}
		/>

		<Card
			href=""
			title="¿Estás Listo para el Desafío?"
			body="Desde épicas batallas hasta emocionantes carreras, nuestro espacio está diseñado para todos los tipos de gamers. Ya seas un guerrero experimentado o un novato curioso, aquí encontrarás la inspiración que necesitas para llevar tu experiencia de juego al siguiente nivel."
			image={imagen2.src}
		/>

		<Card
			href=""
			title="Lo Último en Tecnología"
			body="Explora las innovaciones que están transformando la forma en que jugamos. Las consolas más avanzadas, los gráficos más impresionantes y las experiencias más inmersivas están a solo un clic de distancia."
			image={imagen3.src}
		/>

		<Card
			href=""
			title="Únete a Nuestra Comunidad"
			body="Conéctate con otros apasionados del Gaming. Comparte tus logros, discute estrategias y encuentra amigos que comparten tu amor por los videojuegos. ¡La diversión es aún mejor cuando se comparte!"
			image={imagen4.src}
		/>
	</div>
</Layout>